.row {
  margin: auto;
  width: 100%;
  padding-top: 10px;
}

span.verse-number {
  font-weight: bold;
  padding-right: 15px;
}

.chapters {
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.book {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
}

.verse-number.col-sm-1 {
  text-align: right;
  max-width: 2.333333%;
}

.container-fluid {
  padding-bottom: 20px;
}

.popover-content {
  background: #000000;
  color: #ffffff;
  border-radius: 3px;
  overflow: hidden;
  transition: 300ms;
  white-space: nowrap;
  display: flex;
  user-select: none;
  opacity: 0.5;
}

.popover-content:hover {
  opacity: 1;
}
.popover-content p {
  margin: 0;
  padding: 1em;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  display: flex;
  margin-left: 32%;
}

.overlay-content div:first-child {
  width: 35%;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[role="combobox"] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 100%;
  background: white;
}

.overlay input[role="combobox"]:hover {
  background: #f1f1f1;
}

.overlay svg {
  font-size: 17px;
  border: none;
  float: left;
  width: 100%;
}

.overlay button {
  float: left;
  width: 10%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}
.overlay button svg {
  height: 25px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
